@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');



// orange-color : #ffa835

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

// Navigation Aria 

.head{

    &__custom-nav{


        .navbar-brand{
            img{
                width: 290px;
                height: 80px ;

                @media screen and(max-width: 434.89px) {
        
                    margin-left: -50px;
                }

            }

            span{
                font-weight: 700;
                font-size: 22px;
                margin-left: 10px;
            }
        }

        button{
            padding: 0;

            span{

                img{
                    width: 45px;

                    @media screen and(max-width: 434.89px) {
                        width: 25px;
                    }
                }
            }
        }
    }

    #navbarNav{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: black;
                    font-weight: 400;
                    padding: 8px 15px;
                    white-space: nowrap;
                    transition: .5s cubic-bezier(0.758, 0.135, 0.15, 0.86);

                    &:hover{
                        color: #ffa835;
                    }
                }
            }
        }
    }
}

// custom-section

.custom-section{
    width: inherit;
    padding-bottom: 100px;

    @media screen and(max-width: 991.89px) {
        
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .col-lg-4{
        margin-top: 100px;

        @media screen and (max-width: 991.89px) {
            margin-top: 0px;   
        }
        h2{
            font-weight: 700;
            font-size: 63px;
            color: black;
            margin-bottom: 0;
            line-height: 1;
            white-space: nowrap;

            @media screen and (max-width: 991.89px) {
                font-size: 50px;  
            }

            @media screen and(max-width: 434.89px) {
                font-size: 40px; 
            }
        }

        h3{

            font-weight: 300;
            font-size: 64px;
            color: black;
            line-height: 1;

            @media screen and (max-width: 991.89px) {
                font-size: 50px;  
            }

            @media screen and(max-width: 434.89px) {
                font-size: 40px; 
            }
        }

        p{
            font-size: 14px;
            color: black;
            margin-top: 30px;
        }

        a{
            display: inline-block;
            padding: 8px 22px;
            color: white;
            background-color: #1ea5f7;
            border: 1px solid transparent;
            margin-top: 60px;
            text-decoration: none;
            transition: .5s cubic-bezier(0.758, 0.135, 0.15, 0.86);

            @media screen and (max-width: 991.89px) {
                margin-top: 30px;  
            }

            &:hover{
                color: #1ea5f7;
                background-color: white;
                border: 1px solid #1ea5f7;
            }
        }
    }

    .col-lg-8{
        img{
            width: 100%;
            position: absolute;
            top: -14rem;
            right: -11%;

            @media screen and (max-width: 991.89px) {
                position: relative;
                top: -84px;
                right: 0;
                
            }

            @media screen and(max-width: 434.89px) {
                top: -50px;
            }
        }
    }
}

.statistics{
    padding: 4rem 0;
    @media screen and (max-width: 991.89px) {
        padding:0;
        margin: 0;
    }
    .stats{
        background: #1ed3f731;
        display: flex;
        flex: 0 0 30%;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 3px 11px -4px rgba(133,133,133,1);

        @media screen and (max-width: 991.89px) {
            flex: 0 0 45%;
        }

        @media screen and (max-width: 767.89px) {
            flex: 0 0 90%;
        }

        img{
            display: block;
            margin-left: 20px;
        }

        &__text{
            margin-left: 30px;
            h4{
                font-size: 18px;
                font-weight: 700;
            }

            h2{
                font-size: 40px;
                font-weight: bold;
                color:#1ea5f7;
            }
        }
    }
}



.courses{
    

    h2{
        font-size: 50px;
        margin-bottom: 30px;

        @media screen and (max-width: 991.89px) {
            font-size: 30px;
        }
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            padding: 0px;
            text-transform: uppercase;

            @media screen and (max-width: 991.89px) {
                flex-basis: unset;
                flex-grow: 1;
                min-width: 0;
                max-width: 100%;
                margin-bottom: 15px;
                border: 1px solid #1ea5f7;
                border-radius: 5px;
                padding: 5px 20px;

                &:hover{
                    background-color: #1ea5f7;
                    color: white;
                }
            }

            // @media (max-width: 767.89px){
            //     flex-basis: unset;
            //     flex-grow: 1; 
            //     min-width: 0;
            //     max-width: 100%;
            // }

            a{
                color: #000;
                text-decoration: none;

                @media screen and (max-width: 991.89px) {
                    color: #000;
                    &:hover{
                        color: white;
                    }
                }

                &:hover,
                &:active{
                    color: #1ea5f7;
                    border-bottom: 2px solid #1ea5f7;
                }
            }
        }
    }


    .course-card{
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        @media screen and (max-width: 991.89px) {
            grid-template-columns: repeat(2, 1fr);
        }

            @media (max-width: 767.89px){
                grid-template-columns: 1fr;
            }

        .course{
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.1);
            overflow: hidden;

            &__header{
                position: relative;
                background: black;

                img{
                    width: 100%;
                    object-fit: cover;
                    opacity: 0.6;
                }

                .rating{
                    position: absolute;
                    top: 150px;
                    left: 15px;

                    @media (max-width: 767.89px){
                        top: 280px;
                    }

                    @media (max-width: 499.89px){
                        top: 260px;
                    }

                    @media screen and(max-width: 434.89px) {
                        top: 180px;
                    }

                    span{
                        background: #1ea5f7;
                        padding: 0px 10px;
                        color: white;
                        border-radius: 3px;
                        margin-right: 10px;
                    }
                }
            }

            &__heading{
                padding: 25px 15px;
                border-bottom: 1px solid #cccccc;
                padding-bottom: 0;

                h4{
                    font-size: 18px;
                    padding: 10px 0;
                    font-weight: 600;

                    @media (max-width: 767.89px){
                        font-size: 24px;
                    }
                }

                p{
                    font-size: 14px;
                    font-weight: 300;
                }
            }

            &__footer{
                padding: 30px 15px;
                font-size: 14px;
                font-weight: 300;

                @media (max-width: 767.89px){
                    display: flex;
                    justify-content: space-around;
                    font-size: 16px;
                }
                

                span{
                    margin-right: 30px;
                    
                    i{
                        margin-right: 5px;
                        color: #1ea5f7;
                    }
                }
            }
        }
    }
}


.our-instructors{
    background: #e7f6ff;
    padding: 40px 0;

    h2{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .instructors{
        padding: 40px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        @media screen and (max-width: 991.89px) {
            grid-template-columns: repeat(2, 1fr);
        }

            @media (max-width: 767.89px){
                grid-template-columns: 1fr;
            }

        .priv_arrow{
            color: #fff;
            background: #1ea4f731;
        }

        .instructor{
            background: white;
            border-radius: 10px;
            box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.1);
            overflow: hidden;

            &__header{
                position: relative;
                background: black;

                img{
                    width: 100%;
                    object-fit: cover;
                    opacity: 0.9;
                }

                .social{
                    position: absolute;
                    top: 255px;
                    left: 85px;
                    display: flex;

                    @media (max-width: 767.89px){
                        top: 405px;
                        left: 165px;
                    }

                    @media (max-width: 539.89px){
                        top: 351px;
                        left: 145px;

                    }

                    @media screen and(max-width: 434.89px) {
                        top: 281px;
                        left: 87px;
                    }

                    ul{
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                
                        li{
                            background: #ffffff;
                            box-shadow: 0 2px 20px rgba($color: #000000, $alpha: 0.1);
                            padding: 5px 10px;
                            border-radius: 3px;
                            margin-right: 10px;
                            cursor: pointer;

                            &:hover{
                                background: #1ea5f7;
                                color: white;
                            }

                            i{
                                font-size: 20px;
                                text-align: center;
                            }
                         }
                    }
                }
            }

            &__body{
                // padding: 20px;

                .heading{
                    text-align: center;
                    padding: 25px 10px;
                    border-bottom: 1px solid #cccccc;
                    padding-bottom: 0;

                    @media (max-width: 767.89px){
                        padding: 25px 0;
                        padding: 20px 10px;

                    }
    
                    h4{
                        font-size: 20px;

                        @media (max-width: 767.89px){
                            font-size: 25px;
                        }
                    }
    
                    p{
                        font-size: 14px;
                        font-weight: 300;

                        @media (max-width: 767.89px){
                            font-size: 16px;
                        }
                    }
                }

                .footer{
                    padding: 25px 10px;
                    font-size: 14px;
                    font-weight: 300;
                    background: white;

                    @media (max-width: 767.89px){
                        display: flex;
                        justify-content: space-around;
                        font-size: 17px;
                        padding: 20px 10px;

                    }
    
                    span{
                        
                        i{
                            margin-right: 5px;
                            color: #1ea5f7;
                        }
                        &:first-child{
                            margin-right: 70px;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}


.our-blog{

    padding: 40px 0;

    h2{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .post{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        @media screen and (max-width: 991.89px) {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 40px;
        }

            @media (max-width: 767.89px){
                grid-template-columns: 1fr;
            }

        &__card{
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1) ;
            overflow: hidden;
            width: 300px;

            .header{

                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }

            .body{
                padding: 20px;

                p{
                    font-size: 13px;
                    font-weight: 300;

                    span:first-child{
                        margin-right: 30px;
                    }
                }

                h4{
                    font-size: 17px;
                    margin: 15px 0 ;
                }

                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
    
        }
    }
}


.news{
    background-color: #0277c09d;
    padding: 50px 100px;
    border-radius: 30px;
    color: white;
    margin: 40px 0;

    @media (max-width: 767.89px){
        padding: 20px 20px;
    }

    h3{
        font-size: 35px;
        font-weight: 600;

        @media (max-width: 767.89px){
            font-size: 25px;
        }

        @media screen and(max-width: 434.89px) {
            font-size: 20px;
        }
    }


    p{
        padding: 20px 0;

        @media (max-width: 767.89px){
            font-size: 20px;
            font-size: 14px;
        }
    }

    &__form{

        @media (max-width: 767.89px){
            margin: 20px;
        }

        @media screen and(max-width: 434.89px) {
            width: 100%;
            display: flex;
        }

        input[type= text]{
            background-color: white;
            border: none;
            padding: 15px;
            border-radius: 10px 0px 0 10px;

            @media screen and(max-width: 434.89px) {
                padding: 10px;
                width: 63%;
                font-size: 13px;
            }
        }
        input[type= submit]{
            background-color: #ffa835;
            padding: 15px 20px;
            border: none;
            border-radius: 0 10px 10px 0px;
            margin-left: -3px;
            color: white;

            @media screen and(max-width: 434.89px) {
                padding: 10px 10px;
                width: 30%;
                font-size: 13px;
            }
    
    
            &:hover{
                background-color: #cf821d;
            }
        }
    }


}


.footer{

    padding: 40px 0;
    background: #e7f5fd;

    &__links{

        display: flex;

        @media screen and (max-width: 991.89px) {
            flex-direction: column;
        }

        ul{
            list-style: none;
            li{

                padding: 10px 0;
                padding-right: 30px;

                h3{
                    font-size: 18px;
                    font-weight: 600;
                }

                a{
                    font-size: 16px;
                    font-weight: 300;
                    color: #585858;
                    text-decoration: none;

                    &:hover{
                        color: #1ea5f7;
                    }

                    i{
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }

                span{
                    img{
                        width: 220px;
                        height: 59px;
                        margin-left: -35px;
                        margin-top: -15px;
                    }
                }
    
            }
        }




    }
}











